/*header's style*/

.domain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.options {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: red;
    height: 100%;
    width: 15%;
}

.pokeville {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: xx-large;
    letter-spacing: 3px;
    margin-left: 2%;
    margin-top: -10px;
}

.navegation {
    display: flex;
    justify-content: center;
    margin-top: -1px;
    color: aliceblue;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: larger;
    letter-spacing: 2px;
}


.main {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    width: 65%;
    background-color: aqua;
}

.pokegame {
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    background-color: red;
    height: 100%;
    width: 25%;
}

/*pokédex style*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #e74c3c;
}